:root {
    --background: #151e22;
    --panel: #1d292f;
    --text: #d7e7ec;
    --main-color: #2eceff;
    --border-radius: 8px;
    --spacing: 1.4em;
    --shadow: 1px 4px 12px rgba(0, 0, 0, 0.10);
    --white: #fff;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}

body {
    background: var(--background);
    color: var(--text);
}

a {
    color: var(--main-color);
}

.container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.panel {
    background: var(--panel);
    border-radius: var(--border-radius);
    padding: var(--spacing);
    box-shadow: var(--shadow);
    overflow: auto;
}

.panel__title {
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    margin: var(--spacing) 0;
}

.navbar__logo img {
    height: 32px;
    margin: auto;
    display: block;
}

.navbar-items ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-items ul li {
    list-style-type: none;
    margin-right: var(--spacing);
}

.navbar-items ul li {
    list-style-type: none;
}

.navbar-item {
    position: relative;
}

.navbar-item::after {
    content: "";
    position: absolute;
    display: block;
    width: 0px;
    background-color: var(--main-color);
    height: 2px;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
    transition: 0.2s;
}

.navbar-item:hover::after {
    width: 32px;
}

.navbar-item a {
    text-decoration: none;
    color: var(--white);
}

.navbar-item--active a {
    font-weight: bold;
}

.attachment {
    background: rgb(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    border: rgb(255, 255, 255, 0.1) 1px solid;
    width: max-content;
    padding: var(--spacing);
    max-width: 300px;
}

.attachment--right {
    float: right;
}

.attachment__img {
    width: 100%;
}

.attachment__caption {
    color: var(--text);
    text-align: center;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}